.profile-pic-preview {
    border-radius: 100%;
    background-color: gray;
    height: 150px;
    width: 150px;
    margin: 0 auto;
    background-image: url('../../pictures/user-image.webp');
    background-position: center;
    background-size: cover;
}

.profile-pic-container {
    height: 150px;
    width: 150px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
    margin-bottom: 1%;
}

.dropzone-fa {
    font-size: 30px;
    color: $lightgrey;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    bottom: 0;
}
