#m-start-two {
    background-color: $black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;

    h1 {
        justify-content: center;
        margin-top: 3%;
    }
}

#ash-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
}