// .btn {
//     background-color: #ccc;
//     border: none;
//     border-radius: 0;
//     padding: 1rem 1.5rem;
//     letter-spacing: 1px;
//     border: 3px solid $color-4;
//     font-size: $font-size-base;
//     font-weight: bold;
//   }
  
//   .button-send {
//     background-color: $color-4;
//     color: white;
//     &:focus,
//     &:hover {
//       background-color: white;
//       border: 3px solid $color-4;
//       color: $color-4;
//     }
//   }

.btn-primary {
    background-color: $primary;
    transition: all .25s ease-in-out;

    &:hover {
        background-color: $primary-hover;
        color: $primary-text-hover;
    }
    
    &:active {
        background-color: $primary-hover;
        box-shadow: 0 0 0 0.25rem $white;
    }

    &:focus {
        background-color: $primary-click;
        box-shadow: 0 0 0 0.25rem $highlight;
    }
}

.btn-secondary {
    background-color: $secondary;
    transition: $easing-in-out;

    &:hover {
        background-color: $secondary-hover;
    }
    
    &:active {
        background-color: $secondary-hover;
        box-shadow: 0 0 0 0.25rem $white;
    }

    &:focus {
        background-color: $secondary-click;
        box-shadow: 0 0 0 0.25rem $highlight;
    }
}

.btn-primary-blocked {
    background-color: $primary-disabled;
}

.btn-secondary-blocked {
    background-color: $secondary-disabled;
}

.btn-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
}

.btn {
    width: 100%;
    border: none;
    font-size: $font-size-btn-cta;
    border-radius: $border-radius;

    a {
        color: $white;
    }
}

.button-close {
    color: white;
    font-size: 52px;
    opacity: 1;
    transition: $easing-in-out;
    width: 52px;
    display: flex;
    justify-content: center;
    border-radius: $border-radius;

    &:hover {
        background-color: $grey;
    }
}

.delete-btn {
    margin-bottom: 5px;

    &:hover {
        background-color: $danger !important;
    }
}

.start-btn {
    height: 72px;
}
