$primary: #2D8D77;
$primary-hover: #5F8B81;
$primary-click: #206656;
$primary-disabled: #7E8D8A;
$secondary: #000;
$highlight: #44D7B6;

$lightgrey: #C0C0C0;
$grey: #5F5F5F;
$darkgrey: #383838;

//also auch namen gut
// $grey-light: ;

// oder sogar
// $black: $color-9;
// $red: $error;