.card {
    margin-top: 8px;
    border-radius: $border-radius;
    border-color: $darkgrey;
    background-color: $darkgrey;
    margin: 1%;
}

.card-body {
    background-color: $darkgrey;
    border-radius: $border-radius;
}

.card-text {
    font-size: $font-size-detail;
    color: $detail-color;
    height: 109px;
}

.card-title {
    font-size: $font-size-subheadline;
}

.challenge-spec--author {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;

    span {
        align-self: center;
        color: $highlight;
    }

    span:first-child {
        margin-right: 5px;
    }
}

.link-btn {
    width: 100%;
}

.link-btn--div {
    width: 100%;
    height: auto;
    padding: 0 0 7px 0;
    
    i, 
    span {
        font-size: $font-size-base;
    }
}

.poke-view--name {
    span {
        color: white;
    }
}

.poke-view--reward {
    span {
        font-size: $font-size-detail;
        color: $lightgrey;
    }
}